html,
container main {
   margin: 0;
   padding: 0;
   margin: auto;
   width: 60%;
   padding: 5px;
   background-color: rgb(180, 180, 180);
  text-align: centre;
}

container {
  width: 20em;
}

h1 { 
  text-align: center;
  font:'Helvetica Neue', Helvetica, Arial, sans-serif

}

h3 {
  text-align: center;
  
}
.input {
  text-align: center;
  
}
.row{
  margin: 2px;
  padding: right
  
}
span {
  text-align: right;

}
div .list-group {
  line-height: 2em;


 }
 .input {
  margin: auto;

 }

 div .list-group-item {
  max-width: 5000px;
  border: 2px green
 } 

.container {
  text-align: center;
}

.btnremove {
  background-color: rgb(233, 12, 12);
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  vertical-align: baseline;
	font-family: inherit;
}


.btn1 {
    background-color: rgb(48, 19, 216); 
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* .center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
} */
