<h1> Todo List </h1>
<h3> What you gotta do?</h3>

<form>
<div>
<input type="text" placeholder="add what you gotta do">
</div>
<div>
<button>Add</button>
</div>
</form>
<br>
<div>
<button class="btn">All tasks </button>
<button class="btn">Complete</button>
<button class="btn">Incomplete</button>
</div>
<br>

<div class="list-group">
<div class="list-group-item">
<button class="btn btn-danger"> Delete</button>
</div>
</div>

{{outlet}}